# Requirements file (channel2 version)
# Usage:
# $ pip install -r requirements.txt
#
# NOTE: THIS FILE IS REDUNTANT WITH Pipfile
# IGNORE IT IF USING pipenv

django==2.0.4
channels==2.1.1
django-model-utils==3.1.1
django-meta==1.4.1
django-ckeditor==5.4.0
django-compressor==2.2
pillow==5.1.0
channels-redis==2.1.1
